.ul-pagination {
    width: 100%;
    height: 3.7rem;
    border-bottom: 2px solid #c2c2c2;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.button-pagination {
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
    border: 2px solid #000;
}

.button-pagination:active {
    background-color: #a9a9a9;
}

.button-pagination:hover {
    background-color: #99B933;
}